body {
  background: #141414;
  color:#ffffff;
}

.movie-app .row{
  overflow-x: auto;
  flex-wrap: nowrap;
  display: flex;         /* make sure items are in one row */
  gap: 1rem;             /* add space between movie items */
  scrollbar-width: thin;
}
.movie-app .row::-webkit-scrollbar {
  height: 6px;
}
.movie-app .row::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}
.search{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.image-container{
  position: relative;
  transition: transform 0.3s ease;
}
.image-container:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.image-container:hover .overlay{
  opacity: 1;
}


